<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Login to your Account</h1>
    {% if request.GET.next %}
    <input type="hidden" value="{{request.GET.next }}" name="next" />
    {% endif %}
    <form action="{% url 'signer:log_in' %}" method="POST">
        {% csrf_token %}
        Username : <br /> <input  type="text" name="Username" />
        <br />
        Password : <br /><input  type="password" name="pass1" />
        <br />
        <br /><input type="SUBMIT" value="Login" />
    </form>
    <br />
    {% if error %}
        {{ error }}
    {% endif %}
    <br />
</body>
</html>